[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/InterfaceVerifier"]
	path = lib/InterfaceVerifier
	url = https://github.com/ZKNOXHQ/InterfaceVerifier
